* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  transition: all ease 0.3s;
  background-color: aqua;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 70px;
  background: rgb(29, 91, 29);
  margin: 0 auto;
  padding-top: 13px;
  position: fixed;
  top: 0;
}
.header__navbar {
  margin: 0 auto;
  max-width: 1300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}
@media (max-width: 1920px) {
  .header__navbar {
    max-width: 1300;
  }
}
.header__navbar .navbar-logo {
  padding: 28px;
  background: rgb(153, 153, 29);
  border-radius: 50%;
  width: 0vw;
}
@media (max-width: 767px) {
  .header__navbar .navbar-logo {
    margin: 0 auto;
    padding: 30px;
    position: relative;
    z-index: 3;
  }
}
.header__navbar .list-nav {
  display: flex;
  width: 600px;
}
.header__navbar .list {
  padding: 5px 15px;
  background: rgb(153, 153, 29);
  width: 66px;
  margin-left: 37px;
}
.header__navbar #menu {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transition: all ease 1s;
  z-index: 99999;
}
@media (min-width: 768px) {
  .header__navbar #menu {
    display: none;
  }
}
.header__navbar #menu .c-hamburger-line {
  display: block;
  position: absolute;
  top: 23px;
  right: 23px;
  width: 40px;
  height: 30px;
  cursor: pointer;
  z-index: 5;
  transition: background 1s;
}
.header__navbar #menu .c-hamburger-line span:first-child, .header__navbar #menu .c-hamburger-line span:last-child {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0;
}
.header__navbar #menu .c-hamburger-line span {
  top: 14px;
  left: 0;
  position: absolute;
  width: 100%;
  height: 2px;
  background: rgb(153, 153, 29);
}
.header__navbar #menu .c-hamburger-line span:first-child {
  top: 0;
}
.header__navbar #menu .c-hamburger-line span:last-child {
  top: auto;
  bottom: 0;
}
.header__navbar #menu .c-hamburger-line.is-active span {
  background: rgb(153, 153, 29);
}
.header__navbar #menu .c-hamburger-line.is-active span:nth-child(2) {
  transform: scale(0);
}
.header__navbar #menu .c-hamburger-line.is-active span:first-child {
  rotate: -45deg;
  top: 14px;
}
.header__navbar #menu .c-hamburger-line.is-active span:last-child {
  rotate: 45deg;
  bottom: 14px;
}
.header__navbar #menu .body-active {
  margin-top: 100%;
}
.header__navbar #menu #menu.nav-active {
  margin-top: 0;
}

.content {
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.block {
  margin-top: 100px;
}

.block__row {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}
@media (max-width: 1350px) {
  .block__row {
    width: 95%;
  }
}
.block__row .block__column {
  height: 100%;
  background-color: purple;
  flex: 0 1 32%;
}
@media (max-width: 767px) {
  .block__row .block__column {
    flex: 0 1 99.5%;
    margin-bottom: 20px;
  }
}
.block__row .block__column .image {
  width: 90%;
  background-color: #000;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 0px 0px 58% 0px;
}
.block__row .block__column .text {
  margin: 0 auto;
  width: 90%;
  margin-bottom: 10px;
  line-height: 21px;
  color: aliceblue;
}

.block__row2 {
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
@media (max-width: 1350px) {
  .block__row2 {
    width: 94%;
  }
}
@media (max-width: 767px) {
  .block__row2 {
    margin-bottom: 0px;
    margin-top: 0px;
  }
}
.block__row2 .block__column {
  height: 100%;
  background-color: purple;
  flex: 0 1 49%;
}
@media (max-width: 767px) {
  .block__row2 .block__column {
    flex: 0 1 99.5%;
    margin-bottom: 20px;
  }
}
.block__row2 .block__column .image {
  width: 93%;
  padding: 0px 0px 58% 0px;
  background-color: #000;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 10px;
}
.block__row2 .block__column .text {
  margin: 0 auto;
  width: 93%;
  margin-bottom: 10px;
  line-height: 21px;
  color: aliceblue;
}

footer {
  height: 50px;
  background: rgb(29, 91, 29);
  width: 100%;
}
@media (max-width: 380px) {
  footer {
    height: 70px;
  }
}
footer .footer__nav {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
@media (max-width: 1350px) {
  footer .footer__nav {
    width: 94%;
  }
}
@media (max-width: 380px) {
  footer .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }
}
footer .footer__nav .footer-list {
  padding: 5px 15px;
  background: rgb(153, 153, 29);
  width: 77px;
}
@media (max-width: 380px) {
  footer .footer__nav .footer-list {
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    top: -100%;
    left: 0;
    background: rgb(29, 91, 29);
    z-index: 2;
    transition: all 0.3s ease 0s;
    overflow: hidden;
  }
  .header__menu .list-nav {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    margin-top: 150px;
  }
  .header__menu .list-nav .list {
    width: 44vw;
    margin: 0 auto;
    margin-top: 44px;
  }
  .header__menu.nav-active {
    top: 0;
  }
}/*# sourceMappingURL=style.css.map */